
@media (max-width:576px)
{

    .nav-first{
        margin-left: 0;
    }
    .nav-item{
        padding: 0;
    }
    
    .cards .card{
        width: 150px;
        height: 200px;
        margin: 0;
        padding: 0;
        position: relative;
       
        box-shadow: 6px 6px 6px  #7a7878;
    }
   
    .works .works_text{
        width: 470px;
        height: 162px;
        /* margin: auto; */
        text-align:center;
       
      }

      .job-section{
        width: 200px;
        margin: auto;
        /* border: 2px solid black; */
        margin-bottom: 70px;
    
    }
    .test-section{
        width: 200px;
        /* border: 2px solid black; */
        margin: 50px auto;
        text-align: center;
       
    }
    .hero{
        padding: 70px 0 50px 0 ;
        width: 100%;
    }

    .works .works_text{
        width: 200px;
        height: 162px;
        /* margin: auto; */
        text-align:center;
        margin-top: -100px;
        
      }

      
      

}